In [159]:
import pandas as pd

In [160]:
# reading whole data from csv file
df = pd.read_csv('BP_data.csv', skiprows=[1])
df.head()

,SampleID,Dataset,Date,Time,SiteNumber,latitude,Longitude,BottomDepth,sampledepth,SecchiDiskDepth,...,Diatom_Synedra,Diatom_Cocconeis,Diatom_Nitzchia,Diatom_Navicula,Diatom_Fragillaria,Diatom_Tabellaria,Diatom_Gomphenema,Diatom_Astrionella,Flagellates,Other
0,1,Buoy,6/11/2014,6:15:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Buoy,6/11/2014,6:30:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Buoy,6/11/2014,6:45:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Buoy,6/11/2014,7:00:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Buoy,6/11/2014,7:15:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
# drop the measurements not coming with buoy data as well as rows from other datasets
filt = df['Dataset'] == 'Buoy'
df_buoy = df[filt].drop(['SampleID','Dataset','Time','SiteNumber','latitude','Longitude','BottomDepth','sampledepth','SecchiDiskDepth','SamplingInScum','Lab_Chla','TSS','PARExtinction','TurbidityLab','DOC','Lab_chlaOutlier','biomassCyanobacteria','biomassChlorophyte','biomassEuglenophyte','biomassChrysophyte','biomassDiatom','biomassCryptophyte','biomassDinoflagellate','biomassTotal','Cyanobacteria','Chlorophyte','Euglenophyte','Chrysophyte','Diatom','Cryptophyte','Dinoflagellate','cellcountTotal','Bluegreen_Anabaena','Bluegreen_AgmenellumMerismopedia','Bluegreen_Anacystis','Bluegreen_Gomphosphaeria','Bluegreen_Oscillatoria','Bluegreen_Aphanizomenon','Green_Chlorella','Green_Clostrium','Green_Scenedesmus','Green_Ankistrodesmus','Green_Oocystis','Green_Chodetella','Green_Botryococcus','Green_Mougeotia','Green_Phytoconis','Green_Sphaerocystis','Green_Spirogyra','Green_Tetraedron','Green_Polyedriopsis','Green_Ulothrix','Green_Pediastrum','Green_Schroderia','Diatom_Cyclotella','Diatom_Synedra','Diatom_Cocconeis','Diatom_Nitzchia','Diatom_Navicula','Diatom_Fragillaria','Diatom_Tabellaria','Diatom_Gomphenema','Diatom_Astrionella','Flagellates','Other'], axis=1)
df_buoy

,Date,TurbShallowField,Bat,WindDir,WindSp,AirTemp,RelativeHum,BarometricPress,DailyRain,PARAirFlags,...,CDOM,CDOMmV,Temp00,Temp01,Temp02,Temp03,Temp04,chlRFUOutlier,BGARFUOutlier,Uncertain
0,6/11/2014,7.1,12.5,269.0,3.4,17.50,31.0,957.0,0.0,405.0,...,36.4,90.70,NaN,17.26,17.25,17.28,NaN,NaN,NaN,NaN
1,6/11/2014,7.5,12.6,198.0,4.5,17.56,38.0,957.0,0.0,410.0,...,36.5,90.91,NaN,17.27,17.24,17.27,NaN,NaN,NaN,NaN
2,6/11/2014,7.8,12.6,242.0,3.8,17.50,35.0,957.3,0.0,352.0,...,36.5,90.99,NaN,17.26,17.25,17.27,NaN,NaN,NaN,NaN
3,6/11/2014,7.3,12.6,220.0,3.1,17.17,37.0,957.3,0.0,271.0,...,36.5,91.18,NaN,17.25,17.24,17.27,NaN,NaN,NaN,NaN
4,6/11/2014,7.0,12.3,223.0,3.2,17.17,44.0,957.3,0.0,82.0,...,36.5,91.62,NaN,17.21,17.23,17.27,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109163,10/3/2019,5.7,11.2,112.0,9.5,5.00,85.0,28.4,0.0,253.0,...,77.5,78.04,8.66,8.53,8.53,8.57,8.53,NaN,NaN,NaN
109164,10/3/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109165,10/3/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109166,10/3/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109167,10/3/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
# exploring data types in df_buoy
df_buoy.dtypes

Date                   object
TurbShallowField      float64
Bat                   float64
WindDir               float64
WindSp                float64
AirTemp               float64
RelativeHum           float64
BarometricPress       float64
DailyRain             float64
PARAirFlags           float64
PARW1                 float64
PARW2                 float64
CO2Shallow            float64
CO2Deep               float64
TempShallow           float64
SpCondShallow         float64
pHShallow             float64
pHmVShallow           float64
ChlRFUShallow         float64
ChlorophyllShallow    float64
BGAPCShallowRFU       float64
BGAPCShallow          float64
ODOSatShallow         float64
ODOShallow            float64
TempDeep              float64
SpCondDeep            float64
pHDeep                float64
pHmVDeep              float64
BGAPCDeep             float64
BGAPCDeepRFU          float64
ODOSatDeep            float64
ODODeep               float64
CDOM                  float64
CDOMmV                float64
Temp00                float64
Temp01                float64
Temp02                float64
Temp03                float64
Temp04                float64
chlRFUOutlier         float64
BGARFUOutlier         float64
Uncertain             float64
dtype: object

In [163]:
# Averaging data over whole day
df_buoy_ave = df_buoy.groupby('Date').agg('median')
df_buoy_ave.head()

,TurbShallowField,Bat,WindDir,WindSp,AirTemp,RelativeHum,BarometricPress,DailyRain,PARAirFlags,PARW1,...,CDOM,CDOMmV,Temp00,Temp01,Temp02,Temp03,Temp04,chlRFUOutlier,BGARFUOutlier,Uncertain
Date,,,,,,,,,,,,,,,,,,,,,
10/1/2015,NaN,13.0,168.0,4.30,9.89,91.0,28.400000,0.0,8.5,5.0,...,241.6,128.905,13.44,13.360,13.355,13.31,13.08,NaN,NaN,NaN
10/1/2017,0.7,13.2,268.0,18.80,10.78,76.0,27.782044,0.0,9.5,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10/1/2018,2.5,12.9,149.0,15.50,3.39,83.0,28.200000,0.0,12.0,3.0,...,NaN,NaN,7.41,7.290,7.290,7.33,7.29,NaN,NaN,NaN
10/1/2019,5.7,11.8,224.0,5.65,3.03,83.0,28.400000,0.0,12.0,3.0,...,77.0,76.950,9.59,9.465,9.470,9.48,9.42,NaN,NaN,NaN
10/10/2017,0.2,13.3,162.0,6.70,7.89,65.0,28.204371,0.0,11.5,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
df_buoy_ave.shape

(793, 41)

In [165]:
# get Chla_lab from other datasets
filt = df['Dataset'] != 'Buoy'
df_lab = df[filt][['Date','Lab_Chla']]
df_lab

              Date  Lab_Chla
109168    6/1/2015     13.73
109169   6/10/2015     45.37
109170   7/13/2015     14.25
109171   8/24/2015     99.77
109172  10/21/2015     17.13
...            ...       ...
110084   8/30/2019       NaN
110085    9/3/2019       NaN
110086    9/3/2019       NaN
110087    9/3/2019       NaN
110088    9/3/2019       NaN

[921 rows x 2 columns]

In [166]:
# Averaging data over whole day
df_lab_ave = df_lab.groupby('Date').agg('median')
df_lab_ave.head()

           Lab_Chla
Date
1/11/2016      16.0
1/12/2015      33.0
1/13/2014       6.0
1/15/2018       NaN
1/16/2017       NaN

In [167]:
df_lab_ave.shape

(362, 1)

In [168]:
# drop nan values in chla_lab data
df_lab_ave.dropna(inplace=True)
df_lab_ave.head()

           Lab_Chla
Date
1/11/2016      16.0
1/12/2015      33.0
1/13/2014       6.0
1/27/2014       7.0
1/9/2017       47.0

In [169]:
# inner merge both dataframe to extract coincidence dates in which we have both lab and buoy data
df_both = pd.merge(df_lab_ave, df_buoy_ave, left_index=True, right_index=True, how='inner')
df_both.head()

,Lab_Chla,TurbShallowField,Bat,WindDir,WindSp,AirTemp,RelativeHum,BarometricPress,DailyRain,PARAirFlags,...,CDOM,CDOMmV,Temp00,Temp01,Temp02,Temp03,Temp04,chlRFUOutlier,BGARFUOutlier,Uncertain
Date,,,,,,,,,,,,,,,,,,,,,
10/5/2017,14.1400,0.4,13.4,199.0,5.10,8.445,66.0,28.263438,0.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5/15/2017,6.8700,1.7,14.2,196.5,7.90,10.780,64.0,28.000000,0.0,257.0,...,NaN,NaN,10.225,10.125,10.11,10.150,10.110,NaN,NaN,NaN
5/19/2016,4.4800,0.9,13.6,108.0,6.10,18.890,50.0,27.900000,0.0,261.5,...,73.7,73.705,15.140,14.875,14.01,13.090,12.955,NaN,NaN,NaN
5/23/2017,6.8475,0.9,14.0,191.5,7.25,17.780,34.0,28.250000,0.0,260.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5/23/2018,6.0000,NaN,13.8,140.5,6.15,17.000,78.5,28.100000,0.0,11.0,...,NaN,NaN,17.365,17.280,17.17,16.705,16.450,NaN,NaN,NaN

In [170]:
df_both.shape

(152, 42)

In [171]:
# extract target as y from data
y = df_both['Lab_Chla']
X = df_both.drop(['Lab_Chla'], axis=1)
y.describe()

count    152.000000
mean      42.012692
std       39.901325
min        1.270000
25%       15.712500
50%       31.380000
75%       57.810000
max      270.000000
Name: Lab_Chla, dtype: float64

In [172]:
# Extract date elements as three features
X['Year'] = pd.DatetimeIndex(df_both.index).year
X['Month'] = pd.DatetimeIndex(df_both.index).month
X['Day'] = pd.DatetimeIndex(df_both.index).day
X.isnull().sum()

TurbShallowField        5
Bat                     5
WindDir                16
WindSp                 16
AirTemp                 9
RelativeHum             9
BarometricPress         9
DailyRain               9
PARAirFlags             5
PARW1                  26
PARW2                  26
CO2Shallow             46
CO2Deep               150
TempShallow             4
SpCondShallow           4
pHShallow               4
pHmVShallow             4
ChlRFUShallow           4
ChlorophyllShallow      4
BGAPCShallowRFU         4
BGAPCShallow            4
ODOSatShallow         142
ODOShallow             14
TempDeep               11
SpCondDeep             11
pHDeep                 21
pHmVDeep               21
BGAPCDeep              39
BGAPCDeepRFU           39
ODOSatDeep             39
ODODeep                39
CDOM                  100
CDOMmV                100
Temp00                 53
Temp01                 32
Temp02                 32
Temp03                 32
Temp04                 53
chlRFUOutlier         145
BGARFUOutlier         147
Uncertain             125
Year                    0
Month                   0
Day                     0
dtype: int64

In [173]:
# imputing NaN values in X
from sklearn.impute import SimpleImputer
myimputer = SimpleImputer()
imputed_X = pd.DataFrame(myimputer.fit_transform(X))
imputed_X.columns = X.columns
imputed_X.describe()

,TurbShallowField,Bat,WindDir,WindSp,AirTemp,RelativeHum,BarometricPress,DailyRain,PARAirFlags,PARW1,...,Temp01,Temp02,Temp03,Temp04,chlRFUOutlier,BGARFUOutlier,Uncertain,Year,Month,Day
count,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,...,152.000000,152.000000,152.000000,152.000000,152.0,152.0,152.0,152.000000,152.000000,152.000000
mean,10.508163,13.329932,191.555147,8.140074,17.663636,67.066434,164.127861,0.045699,152.904762,49.218254,...,19.730750,19.624750,19.455000,18.964192,1.0,1.0,1.0,2016.467105,7.177632,16.184211
std,14.713957,0.876867,73.499621,4.034827,3.854330,10.780200,318.876575,0.325842,116.850946,45.078721,...,2.612322,2.611506,2.604968,2.393905,0.0,0.0,0.0,1.508992,1.145691,8.370890
min,0.000000,5.000000,34.000000,1.600000,4.835000,34.000000,27.700000,0.000000,1.000000,1.000000,...,8.955000,8.950000,8.990000,8.950000,1.0,1.0,1.0,2014.000000,5.000000,1.000000
25%,4.300000,13.200000,139.000000,5.250000,16.472500,61.000000,28.100000,0.000000,63.375000,10.875000,...,18.976250,18.935000,18.706250,18.951894,1.0,1.0,1.0,2015.000000,6.000000,9.000000
50%,7.350000,13.500000,191.555147,8.095037,17.862500,67.066434,28.213231,0.000000,140.000000,49.000000,...,19.730750,19.624750,19.455000,18.964192,1.0,1.0,1.0,2017.000000,7.000000,16.500000
75%,13.262500,13.700000,250.125000,10.300000,19.917500,75.000000,28.400000,0.000000,220.750000,66.250000,...,21.466250,21.418750,21.288750,20.425000,1.0,1.0,1.0,2018.000000,8.000000,23.000000
max,160.350000,14.200000,328.000000,25.400000,27.115000,93.000000,965.950000,3.910000,768.500000,209.000000,...,23.520000,23.480000,23.415000,23.150000,1.0,1.0,1.0,2019.000000,10.000000,31.000000

In [174]:
# Splitting data to test and train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(imputed_X, y, train_size = .66 , random_state=0)

In [175]:
# buliding model, fitting and prediction
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100, random_state=1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [176]:
# Accuracy assessment
from sklearn.metrics import mean_absolute_error
#import math 
mae = mean_absolute_error(y_test,y_pred)
mae

17.57363825888365